body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
    letter-spacing: 0.5em;
    background-color: #1a1a1a;
    color: #f7f7f7;
}

h1 {
    height: 10vh;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5em;
}

.settings {
    height: 70vh;
    width: 30vh;
    background-color: #313131;
    border-radius: .5em;
    margin-left: auto;
}

.canvas {
    height: 70vh;
    width: 70vh;
    background-color: #313131;
    border-radius: .5em;
}